.heroSection {
    height: 626px;
    padding: 64px 80px 96px 80px;

    .heroWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftSide {
            h1 {
                margin-bottom: 34px;
                font-size: 48px;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
            }

            p {
                font-family: "Montserrat", sans-serif;
                color: #111827;
                font-size: 16px;
                line-height: 24px;
            }

            .socials {
                margin-top: 49px;
                display: flex;
                gap: 8px;
            }
        }

        .rightSide {
            height: 466px;
            width: 400px;

            .mobileImg {
                display: none;
            }
        }
    }
}

@media (min-width: 1450px) {

}

@media (max-width: 750px) {
    .heroSection {
        height: auto;
        padding: 0px 16px 64px 16px;

        .heroWrapper {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;

            .leftSide {
                margin-top: 62px;
                h1 {
                    margin-bottom: 34px;
                    font-size: 48px;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                }

                p {
                    font-family: "Montserrat", sans-serif;
                    color: #111827;
                    font-size: 16px;
                    line-height: 24px;
                }

                .socials {
                    margin-top: 49px;
                    display: flex;
                    gap: 8px;
                }
            }

            .rightSide {

                display: flex;
                align-items: center;
                justify-content: center;

                .desktopImg {
                    display: none;
                }

                .mobileImg {
                    margin-top: 32px;
                    width: 100%;
                    display: inline-block;
                }
            }
        }
    }
}
