.journeySection {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 24px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 48px;
    }

    > p {
        width: 717px;
        font-size: 16px;
        line-height: 24px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 32px;
    }

    .lastP {
        margin-bottom: 16px !important;
    }

    .techContainer {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        width: 717px;
        margin-bottom: 32px;
    }
}

@media (max-width: 768px) {
    .journeySection {

        > p {
            width: 375px;
            
        }

        .techContainer {
            width: 375px;
        }
    }
}
