@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    font-family: "Montserrat", sans-serif;

    nav {
        display: flex;
        gap: 32px;
    }
}